@grey: #ddd;

html, body, #wrapper {
	
	height: 100%;
	
}

body {
	
	font-size: 16px;
	
}

#search_panel {
	
	text-align: center;
	margin-top: 25%;
	
	input {
		
		font-size: 1.4em;
		font-family: "Times New Roman", Times, serif;
		
		padding: .5em;
		
		border: 1px solid @grey;
		
	}
	
	a {
	
		margin-left: 1em;
		font-size: 1.4em;
		color: black;
		text-decoration: none;
		border-bottom: 1px solid @grey;
		
	}
	
}




#output {
	
	.new {
		
		color: #ccc;
		
	}
	
}

.input {
	
	textarea {
		
		width: 100%;
		min-height: 10em;
				
	}
	
}

.right {
	
	float: right;
	
}

